<link rel='stylesheet' type='text/css' href='{{conf.static_path}}/autogen/chooser.css'></script>


<div class='ch-chooser'>

   <div class='container-fluid'>

      <div class='col-md-4 col-sm-12'><div class='ch-item'>

         <div class='ch-title'>
            PEMB erection <br/> &amp; sales
         </div>

         <div class='ch-img img jagged-1'>
            <img class='img' src='http://via.placeholder.com/250x190'/>
         </div>

         <div class='ch-desc'>
            Preengineered metal buildings sales and construction is a primary focus of Iron Rock Construction
         </div>

         <div class='ch-learn-more'>
            <button class='learn-more-btn'>
               Learn More
            </button>
         </div>

      </div></div>

      <div class='col-md-4 col-sm-12'><div class='ch-item'>

         <div class='ch-title'>
            niche concrete demo &amp; installation
         </div>


         <div class='ch-img img jagged-1'>
            <img class='img' src='http://via.placeholder.com/250x190'/>
         </div>

         <div class='ch-desc'>
            Preengineered metal buildings sales and construction is a primary focus of Iron Rock Construction

         </div>

         <div class='ch-learn-more'>
            <button class='learn-more-btn'>
               Learn More
            </button>
         </div>

      </div></div>

      <div class='col-md-4 col-sm-12'><div class='ch-item'>


         <div class='ch-title'>
            tenant Build-out &amp; design build
         </div>


         <div class='ch-img img jagged-1'>
            <img class='img' src='http://via.placeholder.com/250x190'/>
         </div>

         <div class='ch-desc'>
            Preengineered metal buildings sales and construction is a primary focus of Iron Rock Construction
         </div>

         <div class='ch-learn-more'>
            <button class='learn-more-btn'>
               Learn More
            </button>
         </div>

      </div></div>

   </div>

</div>

