
<link rel='stylesheet' type='text/css' href='{{conf.static_path}}/autogen/utils.css'></script>

<div id='jagged-1-svg-holder'>
   <svg class='jagged-1-svg' width='250' height='55'>
      <polygon points='0,0 0,10 57,33 250,10 250,0' fill='white' />
      <polygon points='0,10 250,10 57,33' fill='white' />
      <polygon points='0,10 33,51 57,33' fill='red' />
      <polygon points='55,33 33,51 250,10' fill='red' />
   </svg>
</div>

<script>

   function numToPx(n) {
      return n + 'px'; // !important';
   }

   function resizePageFunc() {

      function setSizes(pageWidth, ironLogoWidth, ironLogoTop, ironLogoRight)
      {
         var pageWidth = numToPx(pageWidth);
         var ironLogoWidth = numToPx(ironLogoWidth);
         var ironLogoTop = numToPx(ironLogoTop);
         var ironLogoRight = numToPx(ironLogoRight);

         $('#page-content').css('max-width', pageWidth)
                          .css('min-width', pageWidth);

         $('#ironrock-logo-video,#ironrock-logo').each(function() {
            $(this).css('width', ironLogoWidth)
                   .css('right', ironLogoRight);
         });

         $('#ironrock-animated-logo').css('top', ironLogoTop)
                                     .css('right', ironLogoRight);
      }

      function onResize() {
         var winWidth = $(window).width();

         if (winWidth < 800)
            setSizes(800, 0, -100, -100);
         if (winWidth >= 800 && winWidth < 900)
            setSizes(800, 250, 120, 0);
         else if (winWidth >= 900 && winWidth < 1000)
            setSizes(900, 285, 140, 0);
         else if (winWidth >= 1000 && winWidth < 1200)
            setSizes(1000, 315, 153, 0);
         else if (winWidth >= 1200 && winWidth <= 1400)
            setSizes(1200, 370, 185, 0); //10);
         else if (winWidth >= 1400)
            setSizes(1400, 380, 215, 14);

         //console.log(winWidth);
      }

      $(window).resize(onResize);
      onResize();
   }

   function initJagged1() {
      $('.jagged-1').each(function() {
         var jaggedCont = $(this).html();
         var jaggedSvg = $('#jagged-1-svg-holder').html();
         $(this).html(jaggedSvg + jaggedCont);
      });
   }

   $(function() {
      initJagged1();
      resizePageFunc();
   });
</script>


